:root {
    --hoverTabBackground: #EAECED;
    --hoverTabColor: darkgreen;

    --tabBackground: #FEFEFE;
    --tabColor: black;
}
*, html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:border-box;
}
 
.inActive {
    display: none;
}
body {
    background: #EAECED;

    overflow-x: hidden;
}
nav {
    background: #FEFEFE;
    border-bottom: 2px solid rgb(148, 152, 152);
    width: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav .mainTab {
    background: var(--tabBackground);
    padding: 16px 30px;
    font-size: 18px;
    font-weight: 400;
    color:var(--tabColor);
    transition: font-size 0.2s, background 0.2s;
    line-height: 18px;
}
.mainTabStyle {
    background: grey;
    padding: 16px 30px;
    font-size: 18px;
    font-weight: 400;
    color: white;
    transition: background 0.2s;
    text-shadow: 0px 0px 0.5px white;
    line-height: 18px;
}
.mainTabStyle:hover {
    cursor: pointer;
}
nav .mainTab:hover{ 
    color: var(--hoverTabColor);
    text-shadow:0px 0px 0.5px darkgreen;
    font-size: 19px;
    cursor: pointer;
    background: var(--hoverTabBackground);
}
 
nav input { 
    margin-right: 50px;
    padding: 4px;
    float: right;
    border-radius: 50px; 
}
 
.webApp {
    width: 100%;
    height: 870px;
    outline: 2px solid darkgreen;
    overflow: hidden;
    overflow-y: scroll;
}
.webApp::-webkit-scrollbar {
    display: none;
}
.webApp div{
    display: inline-block;
 
}
nav ul {
    display: flex;
    list-style-type: none;
    margin-left: 50px;
}
#marketTitle {
    margin-top: 5px;
    margin-left: 8px;
    font-weight: 600;
}
#sectorTitle {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 12px;
    font-weight: 600;
}
.Markets {
    display:flex;
    margin-top: 5px;
    margin-left: 12px;
    float:left;
    max-height: 100%;
    width: 80%;
}
.index {
    background: #FEFEFE;
    height: 280px;
    width: 375px;
    margin: 18px 9px;
    transition: width 0.4s, height 0.4s;
}
.index .indexTitle {
    margin: 10px 20px 10px 20px;
    font-weight: 600;
}
 
.index .price {
    font-weight:500;
}
.index header {
    display: flex;
    height: auto;
    outline: 1px solid;
    align-items: center;
    justify-content: space-between;
}
.index .changeTitle {
    margin: 10px 16px 10px 20px;
    font-weight: 400;
    color: red;
    font-size: 16.5px;
}
.index .priceChange h3 {
      font-weight: 400;
}
.index .chart {
    outline: 1px solid gray;
    margin-top: 18px;
    margin-left: 10px;
    width: 94%;
    height: 63.3%;
}
 
.Sectors {
    display: flex;
    justify-content: flex-start;
    float: left;
    height: auto;
    width: auto;
    max-width: 580px;
    margin-right: 10px;
    position: relative;
    margin-top: 10px;
    margin-left: 18px;
    flex-wrap: wrap;
}
.spaceAround {
    display: flex;
}
.Sectors .sector {
    display: inline-block;
    height: 59px;
    width: 180px;
    transition: width 0.4s, height 0.4s;
    margin: 4px 6px 4px 5px;
    background-color: #fefefe;
    vertical-align: top;
    border-bottom: 4px solid grey;
}
.sector h5 {
    margin-left: 7px;
    color: #989898;
    font-weight: 200;
    font-size: 14px;
}
.sector h4 {
    color: grey;
    margin-top: 10px;
    margin-left: 8px;
    font-size: 17px;
}
.Movers {
    width: 500px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    transition: width 0.4s;
}
.Movers .scroll {
    width: 100%;
    max-height: 205.5px;
    overflow: hidden;
    overflow-y: scroll;
}
 
.mover {
    display: flex;
    align-items: center;
    height: 38px;
    background: #FEFEFE;
    outline: 1px solid grey;
    margin: 3px 0px;
}
.mover .details {
    margin-left: 20px;
    font-weight: 500;

}
.Movers .moverTabs {
    margin-bottom: 50px;
}
.Movers .Container {
    width: 100%;
    background: #FEFEFE;
}
.mover .color {
    height: 100%;
    width: 8px;
    background: grey;
    margin-right: 6px;
}
.Movers .moverContent {
 
    width: 100%;
}
#moverTitle {
    margin-top: 5px;
    margin-left: 0;
    margin-bottom: 12px;
    font-weight: 600;
}
 
 
#accountModal {
    position: relative;
    z-index: 1;
    height: 920px;
    top: -30px;
    transition: top 0.5s;
    background: #fefefe;
}
#accountModal.moveUp {
    position: relative;
    transition: top 0.5s;
    top: -870px;
}
.account h4 {
    margin-left: 20px;
    font-weight: 600;
}
.account {
    outline: 2px solid green;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    position: sticky;
    background: #fefefe;
}
#tradeModal {
    position: relative;
    z-index: 2;
    height: 920px;
    top: -30px;
    transition: top 0.5s;
    outline: 2px solid;
    background: #fefefe;
}
.quoteTitle {
    display: flex;
    margin-left: 20px;
    align-items: baseline;
    width: 100%;
}
.quoteTitle .exit {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
    background: grey;
    padding: 5px;
    border-radius: 100px;
}
.quoteTitle .exit:hover{
    color: white;
}
.quoteTitle h2 {
    margin-top: 15px;
}
.quoteTitle h4 {
    color: black;
    margin-left: 10px;
    font-weight: 100;
    font-size: 14.5px;
    margin-top: 15px;
}
.quotePrice {
    margin-top: 16px;
    display: flex;
    align-items:baseline;
}
.quotePrice h1 {
     margin-left: 20px;
     font-size: 26.5px;
}
.quoteButtons {
    display: flex;
    margin-left: 20px;
    align-items: baseline;
    margin-top: 20px;
}
.quoteButtons button {
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:8px 44px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
    border: none;
    outline: none;
}
.quoteButtons button:hover {
    filter: brightness(90%);
}
#stockChart {
    outline: 1px solid;
    margin-left: 20px;
    
}
.stockInfo {
    max-height: 390px;
    width: 355px;
    margin-left: 20px;
    overflow: hidden;
    overflow-y: scroll;
}
.stockInfo::-webkit-scrollbar {
    width: 5px;
}
.stockInfo::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 50px;
}
stockInfo::-webkit-scrollbar-thumb:hover{
    background: grey;
}
.leftBar {

}
#tradeModal .chart {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 94%;
    height: 63.3%;
    max-height: 400px;
    max-width: 800px;
}
.infoCard {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    min-height:30px;
    align-items: center;
    margin-right: 1px;
}
.screener {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d3d3d3;
    min-height: 30px;
    align-items: center;
    margin-right: 1px;
}
.combine {
    display: flex;
    margin-top: 18px;
    max-width: 1980px;
}
.priceTarget {
    margin-left: 20px;
    margin-top: 20px;
}
#tradeModal.moveUpp {
    position: relative;
    transition: 1s;
    top: -1790px;
}
.stockLabel {
    display: block;
    margin: 0px 10px 0px 20px;
}
.stockLabel h4 {
    margin: 0px;
}
@media(max-width: 1500px) {
    .Markets {
        width: auto;
    }
}

@media (max-width: 1250px) {
    .Markets {
        margin-top: 9px;
    }

    .index {
        margin: 10px 9px;
        height: 257.6px;
        width: 345px;
    }

    .Sectors .sector {
        height: 55px;
        width: 170px;
    }

    .sector h5 {
        font-size: 13.28px;
    }

    .sector h4 {
        font-size: 16px;
    }

    .Movers {
        width: 450px;
        margin-bottom: 10px;
    }
}
@media(max-width: 1090px) {
    .Movers {
        margin-left: 20px;
    }
}
@media (max-width: 1000px) {
    .webApp {
        display: grid;
    }
    .Sectors {
        margin-right: 0;
        max-width: 450px;
        width: auto;
    }
    .Movers .scroll {
        max-height: 165px;
    }
 
}
 
@media (max-width: 450px) {
    .Tabs ul{
        display: block;
    }
    .Tabs {
        display: block;
        height: auto;
    }
}
 